<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Customer_Registration</servlet-name>
        <servlet-class>servlet.Customer_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com_login</servlet-name>
        <servlet-class>servlet.com_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Branch_Login</servlet-name>
        <servlet-class>servlet.Branch_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>Login.User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPrice</servlet-name>
        <servlet-class>servlet.AddPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ordered</servlet-name>
        <servlet-class>servlet.ordered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Price_change</servlet-name>
        <servlet-class>servlet.Price_change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_login</servlet-name>
        <servlet-class>Login.Company_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Branch_login</servlet-name>
        <servlet-class>Login.Branch_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Root</servlet-name>
        <servlet-class>Login.Root</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pant_Measurements</servlet-name>
        <servlet-class>servlet.Pant_Measurements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Photua_measurment</servlet-name>
        <servlet-class>servlet.Photua_measurment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_payment</servlet-name>
        <servlet-class>servlet.Customer_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Makder_registration</servlet-name>
        <servlet-class>servlet.Makder_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expend</servlet-name>
        <servlet-class>servlet.Expend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplier</servlet-name>
        <servlet-class>servlet.AddSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierPyament</servlet-name>
        <servlet-class>servlet.AddSupplierPyament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductParchaseFromSupplier</servlet-name>
        <servlet-class>product.ProductParchaseFromSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panjabi_Measurement</servlet-name>
        <servlet-class>servlet.Panjabi_Measurement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payjama_Measurement</servlet-name>
        <servlet-class>servlet.Payjama_Measurement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Safari_Measurement</servlet-name>
        <servlet-class>servlet.Safari_Measurement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mojib_Cort_Measurement</servlet-name>
        <servlet-class>servlet.Mojib_Cort_Measurement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Koti_Measurement</servlet-name>
        <servlet-class>servlet.Koti_Measurement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bank_Account</servlet-name>
        <servlet-class>servlet.Bank_Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bank_Deposit</servlet-name>
        <servlet-class>servlet.Bank_Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashTransfer</servlet-name>
        <servlet-class>servlet.CashTransfer</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>Supplier_Payment</servlet-name>
        <servlet-class>servlet.Supplier_Payment</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>Customer_Registration</servlet-name>
        <url-pattern>/Customer_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com_login</servlet-name>
        <url-pattern>/com_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Branch_Login</servlet-name>
        <url-pattern>/Branch_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPrice</servlet-name>
        <url-pattern>/AddPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ordered</servlet-name>
        <url-pattern>/ordered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Price_change</servlet-name>
        <url-pattern>/Price_change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_login</servlet-name>
        <url-pattern>/Company_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Branch_login</servlet-name>
        <url-pattern>/Branch_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Root</servlet-name>
        <url-pattern>/Root</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pant_Measurements</servlet-name>
        <url-pattern>/Pant_Measurements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Photua_measurment</servlet-name>
        <url-pattern>/Photua_measurment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_payment</servlet-name>
        <url-pattern>/Customer_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Makder_registration</servlet-name>
        <url-pattern>/Makder_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expend</servlet-name>
        <url-pattern>/Expend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplier</servlet-name>
        <url-pattern>/AddSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierPyament</servlet-name>
        <url-pattern>/AddSupplierPyament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductParchaseFromSupplier</servlet-name>
        <url-pattern>/ProductParchaseFromSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panjabi_Measurement</servlet-name>
        <url-pattern>/Panjabi_Measurement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payjama_Measurement</servlet-name>
        <url-pattern>/Payjama_Measurement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Safari_Measurement</servlet-name>
        <url-pattern>/Safari_Measurement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mojib_Cort_Measurement</servlet-name>
        <url-pattern>/Mojib_Cort_Measurement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Koti_Measurement</servlet-name>
        <url-pattern>/Koti_Measurement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bank_Account</servlet-name>
        <url-pattern>/Bank_Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bank_Deposit</servlet-name>
        <url-pattern>/Bank_Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashTransfer</servlet-name>
        <url-pattern>/CashTransfer</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>Supplier_Payment</servlet-name>
        <url-pattern>/Supplier_Payment</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
